a {
  text-decoration: none;
  color: aliceblue;
}
button {
  color: aliceblue;
  background-color: black;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 900;
}
.Navbar{
  background-color: black;
}
.Navbar-link{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 10vh;
  margin: 0 30px;
  padding: 5px 20px;
  color: aliceblue;
}
.Navbar-link li{
  list-style: none;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.forms{
  padding:20vh 40vw;
  display: grid;
  grid-template-columns: 100%;
}
.forms input{
  height: 30px;
  margin: 5px;
  padding: 10px;
}
.menu{
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: cornsilk;
}
.imageholder img{
  width: 100%;
  height: 100vh;
}
.comenttext{
  position: fixed;
  bottom: 60px;
  left:51vw;
}
.comenttext input{
  width: 45vw;
  height: 32px;
  border-style: dashed;
  margin: 10px 0;
}
